/*ACCOUNT PROFILE*/
.accountContentWrap{
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
}
#profDetailWrap, #profEditWrap{
    margin: auto
}
#profEditWrap{
    display: none;
}

ul {
    list-style: none;
    margin: 20px 0;
    padding: 0;
}
li {
    margin: 0 0 10px 0;
}
.smallbox p{
    font-size: 1.5rem;
}
.profileLabel{
    font-size: 1.2rem;
}

.profDetails{
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    width: 100%;
    max-width: 400px;
    background-color: var(--purple2);
    padding: 30px;
    margin: 0 auto 30px auto;
    border-radius: var(--border-radius);
}

.profileImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--green);
    margin-bottom: 20px;
    object-fit: contain;
    object-position: center;
    border: 4px solid var(--green);
}
#profileInformation{
    text-align: left;
}
.profileLabel, label{
    font-family: var(--robotoCon);
    color: var(--green);
    text-transform: uppercase;
}
.profContent, p{
    color: #fff;
    font-family: var(--roboto);
}
.profContent {
    margin-left: 10px;
}
p{
    margin-top: 0;
}
.profBio{
    border: 1px solid var(--green);
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
}
.profileButton{
    background: none;
    background-color: var(--green);
    color: var(--purple2);
}
/*Tab Section*/


@media screen and (min-width: 700px) {
    .accountContentWrap{
        display: flex;
        flex-direction: row;
        flex-wrap:nowrap;
        justify-content: flex-start;
    }
    .panelContentWrap{
        margin-left: 30px;
    }
    .section3 {
        justify-content: center;
    }
}