#product {
	display: grid;
	grid-template-columns: 40% auto;
	grid-template-rows: auto auto;
	grid-template-areas:
		"image title"
		"details details";
	align-content: start;
	font-family: var(--proximaCon);
	margin: 30px auto;
	width: 100%;
	max-width: 800px;
	padding: 0 20px;
}
#productListing {
	display: flex;
  	flex-direction: row;
	flex-wrap: wrap;
	max-width: 960px;
	width: 100%;
	margin: 10px auto;
	padding: 10px;
}
#searchResults {
	text-align: left;
	border-bottom: 2px solid var(--purple2);
	width: 100%;
	margin: 20px auto;
	padding: 0 20px;
}
h2 {
	font-family: var(--robotoCon);
	color: var(--purple2);
	margin: 0;
	font-size: 1.2rem;
	text-transform: none;
	font-weight: 900;
	width: 100%;
}

h3 {
	font-family: var(--robotoCon);
	font-size: 1.5em;
	color: var(--purple2);
	margin: 0;
	text-transform: none;
}
.tabs {
	grid-area: details;
	margin-top: 20px;
}

.product-image-large {
	width: 100%;
	height: auto;
}
#itemPrice{
	margin: 10px 0;
	position: absolute;
	left: 0;
	bottom: 0;
}
#itemPrice p{
	font-family: var(--robotoCon);
	font-weight: 900;
	font-size: 1.2rem;
	color: var(--purple2);
	margin-bottom: 10px;
}

#itemPrice button{
	color: #fff;
	border-radius: 0;
	font-size: .8rem;
}
.addToCart{
	background-color: var(--red);
}
.addFavorite{
	background-color: var(--purple2);
}
.price-box-button:hover {
	color: var(--purple1);
}

.title {
	grid-area: title;
	text-align: left;
	justify-self: start;
	margin-left: 20px;
	height: auto;
	position: relative;
}
.title h1{
	color: var(--purple2);
	font-size: 1.2rem;
	margin: 0 0 10px 0;
}

.title p {
	font-weight: 600;
	font-size: .8rem;
	margin: 0;
}
.availability {
	text-transform: uppercase;
}

#product img {
	grid-area: image;
	background-color: #fff;
	box-shadow: 0px 5px 20px -2px rgba(0, 0, 0, 0.2);
	padding: 5px;
	width: 100%;
	height: auto;
	
}

/*PRODUCT CARD*/

.productCard {
	display: grid;
	grid-row: span 5;
	grid-template-rows: subgrid;
	align-items: center;
	box-shadow: 0px 5px 20px -2px rgba(0, 0, 0, 0.2);
	width: 100%;
	max-width: 200px;
	background-color: #fff;
	border-radius: 10px 10px;
	margin: 10px;
	grid-row-gap: 10px;

}
.pc-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px;
	height: 85%;
}

.productCard p {
	font-size: 0.6em;
	font-weight: 500;
	color: var(--red);
	margin: 0;
	padding: 0 10px;
	align-self: start;
}

.productCard h2{
	align-self: start;
	padding: 0 10px;
}

.productCard h3{
	font-size: 1.5em;
	align-self: end;
	padding: 0 10px;

}

.productCardButton {
	width: 100%;
	border-radius: 0px 0px 10px 10px;
	background-color: var(--purple2);
	color: var(--green);
	font-size: 1em;
	padding: 10px 0;
	display: block;
	text-align: center;
	text-transform: uppercase;
}

.productCardButton:hover {
	background-color:var(--red);
	color:#fff;
}
.productCard a {
	text-decoration: none;
}
.productCard h2:hover {
	color: var(--purple1);
}

.productImg {
	width: 100%;
	height: 200px;
	max-height: 300px;
	display: block;
	object-fit: cover;
	object-position: 100% 0%;
	border-radius: 10px 10px 0 0;
}

#price-box .plus-minus {
	justify-self: center;
	align-self: center;
	margin: 10px;
}

.plus-minus p {
	color: var(--purple2);
	font-family: var(--robotoCon);
	font-weight: 500;
}

@media screen and (min-width: 700px) {
	#product {
		grid-template-columns: 40% 1fr;
		align-content: start;
		margin: 20px auto;
		padding: 0;
	}
	#price-box {
		align-self: start;
		margin-left: 30px;
	}

	#itemPrice p{
		font-size: 2rem;
	}
	#itemPrice button{
		font-size: 1.5rem;
	}
	.title h1{
		font-size: 2rem;
		}
	.title p {
		font-size: 1.2rem;
	}
	.tabs{
		margin-top: 20px;
	}
}

@media screen and (min-width: 1400px) {
	#searchResults {
		width: 60%;
		}
	
}
