#product {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto;
	grid-template-areas:
		"image image"
		"title price"
		"details details";
	align-content: start;
	font-family: var(--proxima);
	
	margin: 5px auto;
	width: 90%;
	max-width: 960px;
}

#productListing {
	
	display: grid;
  	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  	grid-gap: 10px;
	/*flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;*/
	
	max-width: 960px;
	margin: 10px auto;
	padding: 10px;
}
#searchResults {
	text-align: left;
	border-bottom: 2px solid var(--purple2);
	width: 90%;
	margin: 20px auto;
}
h2 {
	font-family: var(--robotoCon);
	color: var(--purple2);
	margin: 0;
	font-size: 1.2rem;
	text-transform: none;
	font-weight: 900;
}

h3 {
	font-family: var(--robotoCon);
	font-size: 1.5em;
	color: var(--purple2);
	margin: 0;
	text-transform: none;
}
.tabs {
	grid-area: details;
	margin-top: 40px;
	margin-left:30px;
}
#price-box {
grid-area: price;

min-width: 185px;
height: 230px;
background-color: var(--purple2);
text-align: center;
border-radius: 20px;
color: #fff;
padding: 20px 20px;
justify-self: end;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.product-image-large {
	width: 100%;
	height: auto;
}
.itemPrice {
	font-family: var(--robotoCon);
	font-weight: 900;
	font-size: 1.8rem;
	color: var(--green);
	margin: 0;
}
.price-box-button {
	color: var(--red);
	background-color: #fff;
	margin-top: 20px;
}

.price-box-button:hover {
	color: var(--purple1);
}
.availability {
	color: var(--green);
	font-size: 1rem;
	margin: 0;
	
}
.title {
	grid-area: title;
	text-align: left;
	justify-self: start;
	padding: 0 30px;
}

.title h1{
	color: var(--purple1);
	font-size: 1.2rem;
	margin: 0;
}

.title p {
	color: var(--red);
	font-weight: 600;
	margin-bottom: -10px;
	font-size: .8rem;
}

.image-box {
	grid-area: image;
	background-color: #fff;
	box-shadow: 0px 5px 20px -2px rgba(0, 0, 0, 0.2);
	padding: 15px;
	width: 100%;
	
	margin-bottom: 30px;
	
}

/*PRODUCT CARD*/

.productCard {
	display: grid;
	grid-row: span 5;
	grid-template-rows: subgrid;
	align-items: center;
	box-shadow: 0px 5px 20px -2px rgba(0, 0, 0, 0.2);
	width: 100%;
	
	background-color: #fff;
	border-radius: 10px 10px;

}
.pc-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	
	padding: 10px;
	height: 85%;
}

.productCard p {
	font-size: 0.6em;
	font-weight: 500;
	color: var(--red);
	margin: 0;
	padding: 0 10px;
	align-self: start;
}

.productCard h2{
	align-self: start;
	padding: 0 10px;
}

.productCard h3{
	font-size: 1.5em;
	align-self: end;
	padding: 0 10px;

}

.productCardButton {
	width: 100%;
	border-radius: 0px 0px 10px 10px;
	background-color: var(--purple2);
	color: var(--green);
	font-size: 1em;
	padding: 10px 0;
	display: block;
	text-align: center;
	
	text-transform: uppercase;
}

.productCardButton:hover {
	background-color:var(--red);
	color:#fff;
}
.productCard a {
	text-decoration: none;
}
.productCard h2:hover {
	color: var(--purple1);
}

.productImg {
	width: 100%;
	height: 200px;
	max-height: 300px;
	display: block;
	object-fit: cover;
	object-position: 100% 0%;
	
	border-radius: 10px 10px 0 0;
}

#price-box .plus-minus {
	justify-self: center;
	align-self: center;
	margin: 10px;
}

.plus-minus p {
	color: var(--purple2);
	font-family: var(--robotoCon);
	font-weight: 500;
}

@media screen and (min-width: 600px) {
	#product {
		display: grid;
		grid-template-columns: 40% 40% auto;
		grid-template-rows: auto auto;
		grid-template-areas:
			"image title price"
			"image details details";
		align-content: start;
		font-family: var(--proxima);
		
		margin: 5px auto;
		max-width: 960px;
	}

}

@media screen and (min-width: 1400px) {
	#searchResults {
		width: 60%;
		}
	
}
