:root {
	--green: #20f5c9;
	--red: #d10073;
	--purple1: #7700d1;
	--purple2: #4b0085;
	--blackberry: #270045;
	--proxima: proxima-nova, sans-serif;
	--proximaCon: proxima-nova-condensed, sans-serif;
	--roboto: roboto, sans-serif;
	--robotoCon: roboto condensed, sans-serif;
	--green-glow: rgba(32, 245, 201, 0.5);
}

*, *::before, *::after{
	box-sizing: border-box;
}
html {
	background-image: url("/images/Background.jpg");
	background-repeat: repeat-x;
	background-position: top;
}
body {
	height: 100vh;
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"header"
		"main"
		"footer";
}
header, main {
	width: 100%;
	margin: 0 auto;
}
header {
	grid-area: header;
	max-width: 1200px;
	display: grid;
	padding: 10px;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto auto;
	grid-template-areas:
		"nav logo cart"
		"search search search";
}
main {
	grid-area: main;
}
footer {
	height: 200px;
	background-color: var(--blackberry);
	margin: 0 auto;
	width: 100%;
	grid-area: footer;
}
/*FONT STYLES*/
p {
	font-family: var(--proxima);
	font-size: 1rem;
	color: var(--blackberry);
}
h1, h2, h3{
	font-family: var(--proximaCon);
}
h1 {
	color: var(--purple1);
	text-transform: uppercase;
	font-size: 2rem;
	letter-spacing: .1rem;
}
p, a{
	font-family: var(--proxima);
}
p {
	font-size: 1rem;
	color: var(--blackberry);
}
a, .button{
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
}

/*BUTTON STYLES*/
.button {
	max-width: 200px;
	max-height: 40px;
	padding: 10px 15px;
	border-radius: 50px;
	text-align: center;
}
.greenWhite-button {
	background-color: var(--green);
}
.greenWhite {
	color: var(--green);
}
.greenWhite:hover {
	color: #fff;
}
.greenWhite-button:hover {
	background-color: #fff;
	border: 2px solid var(--green);
	color: var(--purple1);
}

.purpleGreen-button {
	background-color: var(--purple2);
	color: var(--green);
	cursor: pointer;
}

.purpleGreen-button:hover {
	background-color: var(--purple1);
}

.greenbutton {
	background-color: #fff;
	color: var(--purple1);
}

.greenbutton:hover {
	background-color: var(--purple1);
	color: #4fff;
}

.violetGreen-button {
	background-color: var(--purple1);
	color: #fff;
}

.violetGreen-button:hover {
	background-color: var(--green);
}

.section1 {
	width: 95%;
	height: auto;
	margin: 20px auto;
	text-align: center;
}
.section1 h1 {
	font-size: 2.5em;
	font-weight: 900;
	color: var(--purple1);
	margin: 0;
}
.section1 h2 {
	color: var(--blackberry);
}
.section1 a {
	border-radius: 20px;
	padding: 10px 20px;
	font-weight: 600;
	margin: 30px auto;
	display: block;
	width: 60%;
	max-width: 200px;
	background-color:var(--red);
	color: #fff;
}
.section1 a:hover {
	color: #fff;
	background-color: var(--purple1);
}

.section2{
	margin: 30px auto;
	text-align: center;
	box-shadow: 1px 1px 20px 10px rgba(0, 0, 0, 0.2);
	padding: 10px 0 ;
	width: 100%;
	height: auto;
}
.section2 h2{
	text-transform: uppercase;
}
.section2 a{
	display: block;
}
.section3{
	width: 100%;
	margin: auto;
}
#featuredGames{
	margin: auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  	grid-gap: 10px;
	padding: 20px;
	align-items: start;

}
.smGameBox{
	min-height: 205px;
	width: 100%;
	display: grid;
	grid-row: span 2;
	grid-template-rows: subgrid;
	margin: 0;

}
.smGameBox p{
	font-weight: bold;
	font-size: .8rem;
	margin: 0;
	color: var(--purple2);
	align-self: start;
}
.smGameBox figcaption{
	text-align: left;
}
.smGameBox h2{
	display:block;
}
.featuredImg{
	width: 100%;
	height: 150px;
	max-height: 200px;
	object-fit: cover;
	object-position: 100% 0;
	align-self: start;
	background-color: var(--green);
}
.section3 {
	display: flex;
	flex-direction: column;
	width: 95%;
	margin-bottom: 20px;
}

.section3 h3 {
	color: #fff;
	margin: 0;
	align-self: center;
}

.section3 h3:hover {
	color: var(--green);
}
.section4 {
	width: 100%;
	margin: 0 auto;
	padding: 50px 0;
	background-color: var(--purple2);
	background-image: linear-gradient(to bottom right, var(--purple2), var(--blackberry));
	display: flex;
	flex-direction: column;
	align-content: center
}
.section4 h2 {
	color: var(--green);
	font-size: 2rem;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
#user-img{
	margin: auto;
}
#section4details {
	text-align: center;
	padding: 0 20px;
}
.section4 ul {
	list-style-type: none;
	padding: 0px;
}
.section4 li {
	font-family: var(--roboto);
	font-weight: 500;
	font-size: 1.5em;
	margin: 20px 0;
	color: #fff;
}
.smallbox {
	padding: 0px;
	text-align: center;
	cursor: pointer;
	margin: 5px auto;
	height: 100px;
	display: flex;
	justify-content: center;
	background-color: var(--blackberry);
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
	width: auto;
}

#box1 {
	background-image: url("/images/landingBox.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#box2 {
	background-image: url("/images/landingBox2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#box3 {
	background-image: url("/images/landingBox3.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.section4 a {
	text-decoration: none;
	border-radius: 20px;
	padding: 10px 20px;
	font-size: 1.5em;
	font-weight: 600;
	margin: 30px auto;
	display: block;
	width: 60%;
	border: 2px solid var(--green);
	color: var(--green);
}
.section4 a:hover {
	border: 2px solid #fff;
	color: #fff;
}
#user-img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 6px solid var(--green);
	margin: 20px auto;
	box-shadow: 0px 0px 30px 0px var(--green-glow);
}
/*LOGO*/
#logo-container {
	grid-area: logo;
	justify-self: center;
	margin-bottom: 10px;
	width: auto;
	display: block;
}

#logo {
	max-width: 160px;
}

/* HAMBURGER MENU */
nav,
#hamburger-menu {
	display: none;
	grid-area: nav;
}

.hamburger-label {
	color: var(--green);
	font-size: 2em;
	grid-area: nav;
	justify-self: start;
	cursor: pointer;
}
.hamburger-label:hover {
	color: #fff;
}
#hamburger-menu:checked ~ nav {
	display: list-item;
	list-style: none;
	margin-top: 25px;
}
/* NAVIGATION STYLES */
nav .fas {
	padding-right: 8px;
}

nav ul {
	padding: 20px;
	position: absolute;
	list-style: none;
	width: 40%;
	display: block;
	background-color: rgba(255, 255, 255, 0.96);
	border-radius: 6px;
}

nav li {
	padding: 10px;
	display: block;
}
nav a {
	display: inline-block;
	text-decoration: none;
	font-family: roboto-condensed, sans-serif;
	font-weight: 200;
	font-size: 1em;
	text-transform: uppercase;
	color: var(--purple2);
}
nav a:hover {
	color: var(--red);
}

.active {
	color: var(--red);
}

/*Shopping Cart*/
#cartWrap {
	grid-area: cart;
	justify-self: end;
	margin: 0px 0px;
	position: relative;
	padding: 0;
	z-index: 0;
	width: auto;
	height:auto;
	font-size: 1.2rem;
}
#cart{
	position: relative;
	z-index: 10;
}
.cartInactive{
	color: var(--green);
}
.cartActive{
	color: #fff;
}
#cartItem{
	position: absolute;
	color: var(--red);
	font-size: .6rem;	
	font-family: var(--robotoCon);
	z-index: 15;
	top: 8px;
	left: 50%;
	font-weight: 600;
	
}
/*Search Bar*/

#search {
	grid-area: search;
	justify-self: center;
	align-self: center;
	height: 40px;
	width: 80%;
	display: flex;
	align-items: center;
	background-color: #fff;
	padding: 0px;
	outline: none;
	border: 2px solid var(--purple2);
	border-radius: 25px;
	margin-top: 30px;
}

#search input {
	width: 85%;
	height: 100%;
	padding: 15px;
	outline: none;
	border: 0;
	display: inline-block;
	background: transparent;
	font-size: 110%;
	-webkit-appearance: none;
}

#search button {
	color: #fff;
	background-color: var(--purple2);
	border: 1px solid var(--purple2);
	padding: 5px 5px;
	display: inline-block;
	margin: 0px;
	width: 15%;
	height: 100%;
	font-size: 1em;
	border-radius: 0 25px 25px 0;
	cursor: pointer;
}

#search button:hover {
	color: #fff;
	background-color: var(--purple1);
}

/*TABBED MENU*/

.tabs {
	position: relative;
	min-height: 300px;
	clear: both;
	margin: 25px 0;
	font-family: var(--proxima);
}

.tab {
	float: left;
	margin-right: -12px;
}

.tab label {
	background: #fff;
	padding: 10px;
	border: 1px solid #ccc;
	margin-left: -1px;
	position: relative;
	left: 1px;
	cursor: pointer;
	color: var(--purple2);
	font-family: inherit;
	text-transform: uppercase;
	font-size: 0.8em;
	border-radius: 6px 6px 0 0;
}

.tab label:hover {
	color: var(--purple1);
}
.tab [type="radio"] {
	opacity: 0;
}
.content {
	position: absolute;
	top: 28px;
	left: 0;
	background: white;
	right: 0;
	bottom: 0;
	padding: 20px;
	border-top: 1px solid #ccc;
	overflow: hidden;
	text-align: left;
}
/*.content > * {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.6s ease;
  }*/

[type="radio"]:focus ~ label {
	outline: 2px solid blue;
}

[type="radio"]:checked ~ label {
	background: white;
	border-bottom: 1px solid white;
	color: var(--purple1);
	z-index: 2;
}

[type="radio"]:checked ~ label ~ .content {
	z-index: 1;
}

/*[type="radio"]:checked ~ label ~ .content > * {
    opacity: 1;
    transform: translateX(0);
}*/

/* CONFIRMATION CARD*/

.confirm {
	border-radius: 6px;
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
	width: 90%;
	height: 300px;
	text-align: center;
	padding: 30px;
	
	display: block;
	margin: 0 auto;
	background-color: var(--purple2);
}
.confirm h1 {
	margin: 20px auto;
	color: #fff;
}

.confirm a {
	color: #fff;
}

/* FORM CARD */

.form-card {
	border-radius: 25px;
	background-image: linear-gradient(to bottom right, var(--purple2), var(--blackberry));
	box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.5);
	width: 90%;
	max-width: 400px;
	margin: auto;
	font-family: var(--proxima);
	font-style: normal;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	color: var(--green);
	
	padding: 20px;
}

.form-card form {
	text-align: left;
	margin: 0 auto 5px auto;
	width: 80%;
	border-top: 1px solid var(--green);
	
	padding-top: 30px;
}

.form-card input,
textarea {
	font-size: 120%;
	
	width: 100%;
	height: auto;
	margin: 10px auto 20px auto;
	padding: 10px;
	outline: none;
	border-radius: 6px;
	-webkit-appearance: none;
	border: none;
	display: block;
}
.form-card label {
	display: block;
}

.form-card h1 {
	font-family: var(--robotoCon);
	color: #fff;
	margin: 0;
}
.form-card a {
	font-size: 0.8em;
	display: block;
	text-align: center;
	margin: 0 auto 20px auto;
}

/* PLUS MINUS BUTTON */
.plus-minus {
	background-color: #fff;
	display: flex;
	color: var(--purple2);
	width: 80px;
	height: 40px;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
	
	border-radius: 50px;
	font-size: 1em;
}

/*Media Queries*/

@media screen and (min-width: 700px) {
	header {
		padding: 10px 30px;
	}
	#search {
		width: 60%;
	}
	
	}
	@media screen and (min-width: 900px) {
		html {
			background-position-y: 50px;
		}
		
		header {
			display: grid;
			margin: 0 auto 40px auto;
			grid-template-columns: 35% 1fr auto;
			grid-template-rows: auto 1fr;
			grid-template-areas:
				"logo nav cart"
				"logo search search";
		}
		nav {
			padding-right: 10px;
		}
		h1 {
			font-size: 1.5em;
		}
		#logo-container {
			grid-area: logo;
			justify-self: start;
			margin-top: 5px;
			
		}
		#logo {
			max-width: 320px;
		}
		.hamburger-label {
			display: none;
		}
		nav {
			display: flex;
			flex-direction: row;
			grid-area: nav;
			width: auto;
			position: static;
			justify-content: flex-end;
		}

		nav ul {
			padding: 0px;
			width: auto;
			border-radius: 0;
			margin: 0;
			background-color: rgba(255, 255, 255, 0);
		}

		nav li {
			padding-right: 0;
			width: auto;
			display: inline-block;
		}
		nav a {
			display: inline-block;
			font-size: 1em;
		}

		nav .fas {
			padding-left: 6px;
		}

		.cart {
			background-color: var(--purple2);
			border-radius: 50%;
			/*box-shadow: 1px 1px 15px 2px var(--green-glow);*/
			grid-area: cart;
			justify-self: end;
			padding: 20px;
		}
		.cart a {
			color: var(--green);
			margin: auto;
			font-size: 1.2rem;
		}
		
		

	
		#search {
			grid-area: search;
			justify-self: end;
			align-self: start;
			height: 45px;
			width: 350px;
			margin: 30px 80px 0 0 ;
			display: flex;
			align-items: center;
			outline: none;
			border: 0 none;
		}

		#search button {
			background-color: var(--green);
			border: none;
		}
		.section1, .section2, .section3{
			max-width: 960px;
		}
		.section1 h1 {
			font-size: 2.5em;
			margin-top: 20px;
		}
		.section1 h2 {
			width: 600px;
			margin: auto;
		}
		
		.section3 {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			
		}
		.section4 {
			flex-direction: row;
			justify-content: center;
		}
		#section4details{
			max-width: 600px;
			text-align: left;
			margin-left: 50px;
		}
		#user-img {
			width: 300px;
			height: 300px;
			margin: 0;
		}
		#section4button {
			grid-area: button;
			height: 50px;
			line-height: 50px;
			justify-self: start;
			margin: 0;
			text-align: center;
			width: 40%;
		}
		.smallbox {
			margin: auto 10px;
			width: 300px;
		}
		.form-card {
			width: 50%;
		}

		.confirm {
			width: 50%;
		}

		.confirm h1 {
			font-size: 2em;
		}
		.form-card {
			max-width: 600px;
		}
	}

	@media screen and (min-width: 1400px) {
		body {
			grid-template-rows: auto 1fr auto;
		}

		#logo {
			max-width: 320px;
		}
		

		nav a {
			font-size: 1em;
		}
		.confirm {
			width: 30%;
		}
	}
	

