:root {
	--green: #20f5c9;
	--red: #d10073;
	--purple1: #7700d1;
	--purple2: #4b0085;
	--blackberry: #270045;
	--proxima: proxima-nova, sans-serif;
	--proximaCon: proxima-nova-condensed, sans-serif;
	--roboto: roboto, sans-serif;
	--robotoCon: roboto condensed, sans-serif;
	--green-glow: rgba(32, 245, 201, 0.5);
	--violet-glow: rgba(121, 22, 182, 0.5);
	--shadow: 1px 1px 20px 10px rgba(0, 0, 0, 0.2);
	--border-radius: 10px;
}

*, *::before, *::after{
	box-sizing: border-box;
}
html {
	background-image: url("/images/Background.jpg");
	background-repeat: repeat-x;
	background-position: top;
}
body {
	height: 100vh;
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"header"
		"main"
		"footer";
}
header, main {
	width: 100%;
	margin: 0 auto;
}
header {
	grid-area: header;
	max-width: 1200px;
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: 150px auto;
	grid-template-areas:
		"search logo cart"
		"nav nav nav";
	position: relative;
	margin: 0 auto 30px auto;
	z-index: 0;
}
main {
	grid-area: main;
}
footer {
	height: 200px;
	background-color: var(--blackberry);
	margin: 0 auto;
	width: 100%;
	grid-area: footer;
}
/*FONT STYLES*/
p {
	font-family: var(--proxima);
	font-size: 1rem;
	color: var(--blackberry);
}
h1, h2, h3{
	font-family: var(--proximaCon);
}
h1 {
	color: var(--purple1);
	text-transform: uppercase;
	font-size: 2rem;
	letter-spacing: .1rem;
}
p, a{
	font-family: var(--proxima);
}
p {
	font-size: 1rem;
	color: var(--blackberry);
}
a, .button, button{
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
}

/*BUTTON STYLES*/
button, .button{
	font-family: var(--robotoCon);
    text-transform: uppercase;
	border-radius: 50px;
	text-align: center;
	outline: none;
    border: 0 none;
	padding: 10px 15px;
}
.button {
	max-width: 200px;
	max-height: 40px;
	-webkit-appearance: none;
    -moz-appearance: none;
}
.greenWhite-button {
	background-color: var(--green);
}
.greenWhite {
	color: var(--green);
}
.greenWhite:hover {
	color: #fff;
}
.greenWhite-button:hover {
	background-color: #fff;
	border: 2px solid var(--green);
	color: var(--purple1);
}

.purpleGreen-button {
	background-color: var(--purple2);
	color: var(--green);
	;
}

.purpleGreen-button:hover {
	background-color: var(--purple1);
}

.greenbutton {
	background-color: #fff;
	color: var(--purple1);
}

.greenbutton:hover {
	background-color: var(--purple1);
	color: #4fff;
}

.violetGreen-button {
	background-color: var(--purple1);
	color: #fff;
}

.violetGreen-button:hover {
	background-color: var(--green);
}

.mainContentWrap, .section1{
	width: 100%;
	height: auto;
	margin: 20px auto;
	text-align: center;
	
}
.section1 h1 {
	font-size: 2.5em;
	font-weight: 900;
	color: var(--purple1);
	margin: 0;
}
.section1 h2 {
	color: var(--blackberry);
}
.section1 a {
	border-radius: 20px;
	padding: 10px 20px;
	font-weight: 600;
	margin: 30px auto;
	display: block;
	width: 60%;
	max-width: 200px;
	background-color:var(--red);
	color: #fff;
}
.section1 a:hover {
	color: #fff;
	background-color: var(--purple1);
}

.section2{
	margin: 30px auto;
	text-align: center;
	box-shadow: 1px 1px 20px 10px rgba(0, 0, 0, 0.2);
	padding: 10px 0 ;
	width: 100%;
	height: auto;
}
.section2 h2{
	text-transform: uppercase;
}
.section2 a{
	display: block;
}
.section3{
	width: 100%;
	margin: auto;
}
#featuredGames{
	margin: auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  	grid-gap: 10px;
	padding: 20px;
	align-items: start;

}
.smGameBox{
	min-height: 205px;
	width: 100%;
	display: grid;
	grid-row: span 2;
	grid-template-rows: subgrid;
	margin: 0;

}
.smGameBox p{
	font-weight: bold;
	font-size: .8rem;
	margin: 0;
	color: var(--purple2);
	align-self: start;
}
.smGameBox figcaption{
	text-align: left;
}
.smGameBox h2{
	display:block;
}
.featuredImg{
	width: 100%;
	height: 150px;
	max-height: 200px;
	object-fit: cover;
	object-position: 100% 0;
	align-self: start;
	background-color: var(--green);
}
.section3 {
	display: flex;
	flex-direction: column;
	width: 95%;
	margin-bottom: 20px;
}


.section4 {
	width: 100%;
	margin: 0 auto;
	padding: 50px 0;
	background-color: var(--purple2);
	background-image: linear-gradient(to bottom right, var(--purple2), var(--blackberry));
	display: flex;
	flex-direction: column;
	align-content: center
}
.section4 h2 {
	color: var(--green);
	font-size: 2rem;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
#user-img{
	margin: auto;
}
#section4details {
	text-align: center;
	padding: 0 20px;
}
.section4 ul {
	list-style-type: none;
	padding: 0px;
}
.section4 li {
	font-family: var(--roboto);
	font-weight: 500;
	font-size: 1.5em;
	margin: 20px 0;
	color: #fff;
}
.smallbox {
	padding: 0px;
	text-align: center;
	margin: 5px auto;
	height: 100px;
	display: flex;
	justify-content: center;
	background-color: var(--blackberry);
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
	width: auto;
}
.smallbox h3, .smallbox p {
	color: #fff;
	margin: 0;
	align-self: center;
}

.smallbox h3:hover {
	color: var(--green);
}

#box1 {
	background-image: url("/images/landingBox.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#box2 {
	background-image: url("/images/landingBox2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#box3 {
	background-image: url("/images/landingBox3.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.section4 a {
	text-decoration: none;
	border-radius: 20px;
	padding: 10px 20px;
	font-size: 1.5em;
	font-weight: 600;
	margin: 30px auto;
	display: block;
	width: 60%;
	border: 2px solid var(--green);
	color: var(--green);
}
.section4 a:hover {
	border: 2px solid #fff;
	color: #fff;
}
#user-img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 6px solid var(--green);
	margin: 20px auto;
	box-shadow: 0px 0px 30px 0px var(--green-glow);
}
/*LOGO*/
.logo-container {
	grid-area: logo;
	justify-self: center;
	align-self: center;
	margin-bottom: 10px 0;
	width: auto;
	display: block;
}

.logo {
	max-width: 160px;
}
.largeLogo{
	display:none;
}
/* HAMBURGER MENU */


/* NAVIGATION STYLES */
nav {
	display: flex;
	grid-area: nav;
	width: 100%;
	justify-content: center;
	background-color: #fff;
	box-shadow:var(--shadow);
	margin-top: -10px;
}
nav ul {
	padding: 0px;
	width: auto;
	border-radius: 0;
	background-color: rgba(255, 255, 255, 0);
}

nav li {
	padding-right: 0;
	width: auto;
	display: inline-block;
}

nav .fas {
	padding-left: 6px;
	padding-right: 8px;
}

nav a {
	display: inline-block;
	text-decoration: none;
	font-family: roboto-condensed, sans-serif;
	font-weight: 200;
	font-size: 1rem;
	text-transform: uppercase;
	color: var(--purple2);
}
nav a:hover {
	color: var(--red);
}

.active {
	color: var(--red);
}

/*Shopping Cart*/
#cartWrap, .searchButton{
	position: absolute;
	width: auto;
	height:auto;
	top: 10px;
	background: none;
	align-self: start;
}
#cartWrap {
	grid-area: cart;
	right: 20px;
}
.searchButton{
	grid-area: search;
	left: 20px;
}
#cartWrap button, .searchButton button{
	font-size: 2rem;
	background:none;
	color: var(--green);
}
#cartItem{
	color: var(--red);
	font-size: .6rem;	
	font-family: var(--robotoCon);
	z-index: 15;
	font-weight: 600;
	right: 0;
	top: 0;
	width: 20px;
	height: 20px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	border-radius: 50%;

}
.cartItemNumber{
	margin: 0 0 5px 5px;
}
/*Search Bar*/
.dropSearchWrap{
	display: none;
	background-color: var(--green);
	width: 100%;
	height: 150px;
	position: absolute;
	justify-content: center;
	z-index: 50;
}
.dropSearch, .search{
	height: 50px;
	align-items: center;
	background-color: #fff;
	padding: 0px;
	outline: none;
	border: 2px solid var(--purple2);
	border-radius: 25px;
	width: 80%;
	display: flex;
}
.search{
	display: none;
	grid-area: search;
	justify-self: center;
	align-self: center;
	margin-top: 30px;
	
}
.dropSearch{
	position: absolute;
	bottom: 30px;
}
.closeSearch{
	position:absolute;
	top: 0;
	right: 0;
	background: none;
	height: auto;
	display: block;
	font-size: 2rem;
	color: var(--purple2);

}
.dropSearch input, .search input {
	width: 85%;
	height: 100%;
	padding: 15px;
	outline: none;
	border: 0 none;
	display: flex;
	background: transparent;
	font-size: 110%;
	align-items: center;
	-webkit-appearance: none;
	margin: 0;
}

.dropSearch button, .search button {
	color: #fff;
	
	padding: 5px 5px;
	display: inline-block;
	margin: 0px;
	width: 15%;
	height: 100%;
	font-size: 1em;
	border-radius: 0 25px 25px 0;
	;
}

.search button{
	background-color: var(--purple1);
	border: 1px solid var(--purple1);
}
.dropSearch button{
	background-color: var(--purple2);
	border: 1px solid var(--purple2);
}

/*TABBED MENU*/

.panelContentWrap{
    display: block;
    width: 100%;
    min-height: 100px;
    font-family: var(--roboto);
	padding: 0 20px;
}
.tabNav{
    display: flex;
    padding: 0;
    width: 100%;
    height: 40px;
    justify-content: flex-start;
    margin: 0;
    border-bottom: 2px solid var(--purple1);
	box-shadow: none;
}

.tabNav button{
    color: var(--green);
    border-radius: 0;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 0;
    font-size: .8rem;
    border-radius: 0;
    background-color: var(--purple2);
}
.tabNav button:hover {
    background-color: var(--purple1);
}
button.activeTab, button.activeTab:hover{
    background-color: #fff;
    color: var(--red);
    border-style:solid solid none solid;
    border-color: var(--purple1);
    border-width: 2px;
    position: relative;
    z-index: 20;
    cursor:auto;
}

.activeTab::after{
    content: " ";
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 100%;
    border-bottom: 10px solid #fff;
    height: 3px;
    z-index: 20;
}
.panelContent{
    width: 100%;
	min-height: 100px;
    text-align: left;
    padding: 20px;
    margin-top: -2px;
    display: none;
	background-color: #fff;
    
}
.activePanel{
    display: block;
}

/* CONFIRMATION CARD*/

.confirm {
	border-radius: 6px;
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
	width: 90%;
	height: 300px;
	text-align: center;
	padding: 30px;
	
	display: block;
	margin: 0 auto;
	background-color: var(--purple2);
}
.confirm h1 {
	margin: 20px auto;
	color: #fff;
}

.confirm a {
	color: #fff;
}

/* FORM CARD */

.form-card {
	border-radius: 25px;
	background-image: linear-gradient(to bottom right, var(--purple2), var(--blackberry));
	box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.5);
	width: 100%;
	max-width: 400px;
	min-height: 200px;
	margin: auto;
	font-style: normal;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	color: var(--green);
	padding: 30px;
	position: relative;
}
.form-card a{
	position: absolute;
	left: 0;
}
.form-card h1{
	color: var(--green);
	border-bottom: 4px solid var(--purple1);
	margin-bottom: 20px;
}
form{
	margin: auto;
	font-family: var(--robotoCon);
	text-align: left;
}
label {
    display: block;
	font-size: 1.2rem;
	font-family: inherit;
}
input{
	width: 100%;
    padding: 10px;
    font-size: 1rem;
    margin: 5px 0 20px 0;
}
textarea {
    resize: none;
    overflow-y: auto;
    font-size: 1rem;
	width: 100%;
	height: 100px;
	overflow-y: auto;
}
.formButton{
    min-width: 100px;
    height: auto;
    background-color: var(--green);
    color: var(--purple2);
}
.cancelButton{
    margin: -10 auto 0 auto;
    background: none;
    color: var(--green);
    text-decoration: underline;
    padding: 0;
}
.required{
    display:inline-block;
    margin-left: 10px;
    text-transform: none;
    color: #fff;
}
.formContentWrap{
    text-align: left;
}
.form-info{
    margin: 40px auto;
    font-size: 1.2em;
    font-weight: 200;
    color: var(--purple2);
    font-family: inherit;
    font-family: var(--proxima);
    text-align: center;
}
.form-info h2 {
    font-family: var(--proxima);
    font-size: 1.5em;
    font-weight: 600;
    color: var(--purple2);
    margin-bottom: 10px;
}
.form-info a{
	text-decoration: underline;
	font-weight: 600;
}
.form-info .fas {
    margin-right: 10px;
    color: var(--purple2)
}
.form-error{
    margin-top: 0;
    text-transform:lowercase;
    color: #fff;
    display: none;
}
/* PLUS MINUS BUTTON */
.plus-minus {
	background-color: #fff;
	display: flex;
	color: var(--purple2);
	width: 80px;
	height: 40px;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
	
	border-radius: 50px;
	font-size: 1em;
}

/*Media Queries*/

@media screen and (min-width: 800px) {
	
	.search{
		width: 60%;
	}
	
	}
	@media screen and (min-width: 900px) {
		html {
			background-position-y: 50px;
		}
		
		header {
			display: grid;
			margin: 0 auto 40px auto;
			grid-template-columns: 35% auto 100px;
			grid-template-rows: 45px 1fr 45px;
			grid-template-areas:
				"logo nav nav"
				"logo search cart"
				"logo . .";
		}
		h1 {
			font-size: 1.5em;
		}
		.logo-container {
			grid-area: logo;
			justify-self: start;
			align-self: center;
			margin-top: 5px;
		}
		.logo {
			max-width: 320px;
		
		}
		.hamburger-label {
			display: none;
		}
		nav {
			background: none;
			width: auto;
			position: static;
			justify-content: flex-end;
			padding-left: 10px;
			box-shadow: none;
			align-self: end;
		}

		nav ul {
			padding: 0px;
			width: auto;
			border-radius: 0;
			margin: 0;
			background-color: rgba(255, 255, 255, 0);
		}

		nav li {
			padding-right: 0;
			width: auto;
			display: inline-block;
		}
		nav a {
			display: inline-block;
			font-size: 1em;
		}

		nav .fas {
			padding-left: 6px;
		}

		#cartWrap {
			/*box-shadow: 1px 1px 15px 2px var(--green-glow);*/
			position: relative;
			bottom: none;
			right: none;
			font-size: 1rem;
			align-self: end;	
			justify-self: center;
			border: 1px solid var(--green);
			border-radius: 50%;
			padding: 5px;
			margin-right: 10px;
		}
		#cartItem{
			font-size: .8rem;
			right: 0;
			width: 25px;
			height: 25px;		
		}
		.searchButton{
			display: none;
		}
		.dropSearchWrap{
			display: none;
		}
		.search{
			grid-area: search;
			justify-self: center;
			align-self: end;
			height: 45px;
			width: 400px;
			margin: 0;
			border: 0 none;
			display: flex;
		}

		.searchbutton {
			background-color: var(--green);
			border: none;
		}
		.mainContentWrap, .section2, .section3{
			max-width: 960px;
		}
		.mainContentWrap h1 {
			font-size: 2.5em;
			margin-top: 20px;
		}
		.mainContentWrap h2 {
			width: 600px;
			margin: auto;
		}
		
		.section3 {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			
		}
		.section4 {
			flex-direction: row;
			justify-content: center;
		}
		#section4details{
			max-width: 600px;
			text-align: left;
			margin-left: 50px;
		}
		#user-img {
			width: 300px;
			height: 300px;
			margin: 0;
		}
		.section4button {
			text-align: center;
			width: 100px;
			margin: 30px 0;
			display: inline-block;
			float: left;
		}
		.smallbox {
			margin: auto 10px;
			width: 300px;
		}

		.confirm {
			width: 50%;
		}

		.confirm h1 {
			font-size: 2em;
		}
		.form-card {
			max-width: 600px;
		}
	}

	@media screen and (min-width: 1400px) {
		body {
			grid-template-rows: auto 1fr auto;
		}

		#logo {
			max-width: 320px;
		}
		

		nav a {
			font-size: 1em;
		}
		.confirm {
			width: 30%;
		}
	}
	

